#region docker

DOCKER_POSTGRES_PORT     = 5432
DOCKER_POSTGRES_USERNAME = "postgres"
DOCKER_POSTGRES_PASSWORD = "postgres"
DOCKER_POSTGRES_DATABASE = "postgres"

DOCKER_REDIS_PORT = 6379

#endregion

#region apps/api

APPS_API_PORT   = 4000
APPS_API_PREFIX = ""
APPS_API_ORIGIN = "*"

#endregion

#region apps/api/resources/coin

APPS_API_RESOUCES_COIN_CRON         = "*/30 * * * *"
APPS_API_RESOUCES_COIN_RUN_ON_START = false

#endregion

#region packages/nest-auth

PACKAGES_NEST_COMMON_BASE_URL                  = "http://localhost:${APPS_API_PORT}"
PACKAGES_NEST_COMMON_JWT_PRIVATE_KEY           = "secret"
PACKAGES_NEST_COMMON_JWT_PUBLIC_KEY            = "secret"
PACKAGES_NEST_COMMON_JWT_ALGORITHM             = "HS256"
PACKAGES_NEST_COMMON_JWT_AUDIENCE              = "https://www.truther.to/"
PACKAGES_NEST_COMMON_JWT_ISSUER                = "truther-coinbase"
PACKAGES_NEST_COMMON_JWT_EXPIRES               = "10m"
PACKAGES_NEST_MICROSOFT_CLIENT_ID              = "" # !
PACKAGES_NEST_MICROSOFT_CLIENT_SECRET          = "" # !
PACKAGES_NEST_GOOGLE_CLIENT_ID                 = "" # !
PACKAGES_NEST_GOOGLE_CLIENT_SECRET             = "" # !
PACKAGES_NEST_SESSION_ACCESS_TTL               = "10m"
PACKAGES_NEST_SESSION_REFRESH_TTL              = "14d"

#endregion

#region packages/nest-cache

PACKAGES_NEST_CACHE_URL         = "redis://localhost:$DOCKER_REDIS_PORT/0"
PACKAGES_NEST_CACHE_KEY         = "cache"
PACKAGES_NEST_CACHE_REQUEST_KEY = "request"

#endregion

#region packages/nest-coingecko-api

PACKAGES_NEST_COINGECKO_API_BASE_URL    = "https://api.coingecko.com/api/v3"
PACKAGES_NEST_COINGECKO_API_HEADER      = "x-cg-demo-api-key"
PACKAGES_NEST_COINGECKO_API_KEY         = "" # !
PACKAGES_NEST_COINGECKO_API_VS_CURRENCY = "usd"

#endregion

#region packages/nest-crypto

PACKAGES_NEST_CRYPTO_KEY = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

#endregion

#region packages/nest-database

PACKAGES_NEST_DATABASE_URL           = "postgres://postgres:postgres@localhost:5432/postgres"
PACKAGES_NEST_DATABASE_LOGGING       = false
PACKAGES_NEST_DATABASE_MIGRATE       = true
PACKAGES_NEST_DATABASE_DEFAULT_LIMIT = 50
PACKAGES_NEST_DATABASE_MOCKUPS       = false

#endregion
