#region docker

DOCKER_POSTGRES_PORT     = 5432
DOCKER_POSTGRES_USERNAME = "postgres"
DOCKER_POSTGRES_PASSWORD = "postgres"
DOCKER_POSTGRES_DATABASE = "postgres"

DOCKER_REDIS_PORT = 6379

#endregion

#region apps/api

APPS_API_PORT   = 4000
APPS_API_PREFIX = ""
APPS_API_ORIGIN = "*"

#endregion

#region packages/nest-cache

PACKAGES_NEST_CACHE_URL         = "redis://localhost:$DOCKER_REDIS_PORT/0"
PACKAGES_NEST_CACHE_KEY         = "cache"
PACKAGES_NEST_CACHE_REQUEST_KEY = "request"

#endregion